services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: pharmacy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
    tty: true